---
layout: false
permalink: /SvcRadioIP/Menu&WMenuID=1.html
# SvcRadioIP.php?WRequest=Menu&WMenuID=1
---
<Phoenix version="1.5.0">
    <Cache ValidityMenus="90" ValidityPresets="20" ValidityFavourites="20">
        <MustUpdateMenus><MenuID>1</MenuID></MustUpdateMenus>
    </Cache>
    <Transaction TransactionID="1" MenuID="0" BackMenuID="0">
        <Screen Title="Error" Type="1">
            <TextLines>
                <TextLine Position="1">This%20station%20is%20temporarily</TextLine>
                <TextLine Position="2">unavailable.%20Please%20try%20again</TextLine>
                <TextLine Position="3">later.</TextLine>
            </TextLines>
        </Screen>
    </Transaction>
</Phoenix>