---
layout: false
permalink: /SvcRadioIP/Localization.html
# SvcRadioIP.php?WRequest=Localization
---
<Phoenix version="1.5.0">
    <Cache ValidityMenus="90" ValidityPresets="20" ValidityFavourites="20">
        <MustUpdateMenus>
            <MenuID>1</MenuID>
        </MustUpdateMenus>
    </Cache>
    <Localization Status="1" CurrentID="5" >
        <MenuItem MenuID="28" Title="phoenix-wifi.ru" IconID="1" />
    </Localization>
</Phoenix>