---
layout: false
permalink: /SvcRadioIP/Menu&WMenuID=0.html
# SvcRadioIP.php?WRequest=Menu&WMenuID=0
---
<Phoenix version="1.5.0">
    <Cache ValidityMenus="90" ValidityPresets="20" ValidityFavourites="20">
    <MustUpdateMenus>
        <MenuID>1</MenuID>
    </MustUpdateMenus></Cache>
    <Menu Type="1" IsCachable="0" MenuID="0" Title="RadioReborn" IconID="2" BackMenuID="0">
    <Node>
        <MenuItem MenuID="1000" Title="Radio%20Internet" IconID="0"/>
        <MenuItem MenuID="10000" Title="Podcasts" IconID="3"/>
    </Node>
    </Menu>
</Phoenix>