---
layout: false
permalink: /SvcRadioIP/Presets.html
# /SvcRadioIP.php?WRequest=Presets
---
<Phoenix version="1.5.0">
    <Cache ValidityMenus="90" ValidityPresets="20" ValidityFavourites="20">
        <MustUpdateMenus>
            <MenuID>1</MenuID>
        </MustUpdateMenus>
    </Cache>
    <Presets>
        <Preset Button="1" MenuID="1001" Title="FIP" IconID="2"/>
    </Presets>
</Phoenix>