---
layout: false
permalink: /SvcRadioIP/Menu&WMenuID=1000.html
# SvcRadioIP.php?WRequest=Menu&WMenuID=1000
---
<Phoenix version="1.5.0">
    <Cache ValidityMenus="90" ValidityPresets="20" ValidityFavourites="20">
        <MustUpdateMenus><MenuID>1</MenuID></MustUpdateMenus>
    </Cache>
    <Menu Type="1" IsCachable="0" MenuID="1000" Title="Radio%20stations" IconID="1" BackMenuID="1">
        <Node>
            <MenuItem MenuID="1001" Title="FIP" IconID="0"/>
            <MenuItem MenuID="1002" Title="France%20Inter" IconID="0"/>
            <MenuItem MenuID="1003" Title="France%20Bleu%Loire%20Ocean" IconID="0"/>
        </Node>
    </Menu>
</Phoenix>