<% view='others' %>

<% if (is_tag()) { %>
  <script>
    window.subData= { title:'Tag : <%= page.tag %>'}
  </script>
<% } else if (is_archive()) { %>
  <script>
    window.subData= { title:'Year : <%= page.year %><%= page.month ? '.' + page.month : '' %>'}
  </script>
<% } else if (is_category()) { %>
  <script>
    window.subData= { title:'Category : <%= page.category %>'}
  </script>
<% } else { %>
  <% view='index' %>
<% } %>
<% page.total=0 %>

    <% page.posts.each(function(post){ %>
		<% if ((post.fixedtop == true) && (view == 'index')) { %>
      			<%- partial('post', {post: post}) %></br>
  		<% } %>
	<% }) %>

	<% page.posts.each(function(post){ %>
		<% if (((post.index != false) && (post.fixedtop != true)) || (view != 'index')) { %>
      			<%- partial('post', {post: post}) %></br>
                        <% page.total=page.total+1 %>
  		<% } %>
	<% }) %>

<% if (page.total > 1) { %>
  <nav id="page-nav">
    <% if (page.prev != 0) { %>
    <a class="prev" rel="prev" href="<%= url_for(page.prev_link) %>">
      <span class="icon icon-chevron-left"></span>
      <span class="text">Previous</span>
    </a>
    <% } %>
    <% if (page.next != 0) { %>
    <a class="next" rel="next" href="<%= url_for(page.next_link) %>">
      <span class="text">Next</span>
      <span class="icon icon-chevron-right"></span>
    </a>
    <% } %>
  </nav>
  
<% } %>
