<article id="<%= post.layout %>-<%= post.slug %>"
  class="post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
	<section class='meta'>
	<h2 class="title">
  	<a href="<%- url_for(post.path) %>">
    	<%= post.title %>
    </a>
  </h2>
	<time>
	  <%= date(post.date, 'MMM D, YYYY') %>
	</time>
	<%- partial('categories',{post:post}) %>
	</section>
	<% if(post.toc!==false){ %>
		<section class="toc-wrapper"><%- toc(post.content) %></section>
	<% } %>
	<section class="article typo">
  	<div class="article-entry" itemprop="articleBody">
    	<%- post.content %>
  	</div>
	  <% if (post.tags && post.tags.length) { %>
	  <div class="article-tags tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
    <% } %>
		
	<% if(post.prev || post.next){ %>
		<div class="art-item-footer">
				<% if(post.prev){ %>
					<span class="art-item-left"><i class="icon icon-chevron-thin-left"></i>prev：<a href="<%=url_for(post.prev.path)%>" rel="prev"  title="<%=post.prev.title%>">
						<%= post.prev.title %> 
					</a></span>
				<% } %>
				<% if(post.next){ %>
					<span class="art-item-right">next：<a href="<%=url_for(post.next.path) %>" rel="next"  title="<%=post.next.title %>">
						<%=post.next.title  %>
					</a><i class="icon icon-chevron-thin-right"></i></span>
				<%} %>
		</div>
	<%} %>
	</section>
	<% if (post.comments && config.disqus_shortname){ %>
		<section id="comments">
			<div id="disqus_thread"></div>
		</section>
	<% } %>
</article>
<script>
	window.subData = {
		title: "<%- post.title %>",
		tools: true
	}
</script>
