<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <%
    var title = page.title;
    if (is_archive()) {
      title = 'Archives';
      if (is_month())
        title += ': ' + page.year + '/' + page.month;
      else if (is_year())
        title += ': ' + page.year;
    }
    else if (is_category())
      title = 'Category: ' + page.category;
    else if (is_tag())
      title = 'Tag: ' + page.tag;
  %>
  <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
  
  <meta name="description" content="<%= config.description %>" />
  <meta name="keywords" content="<% site.tags.each(function(tag) { %><%- tag.name %>,<% }) %>" />
  <meta name="news_keywords" content="<% site.tags.each(function(tag) { %><%- tag.name %>,<% }) %>" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%- favicon_tag(config.favicon) %>
  <%- feed_tag(config.feed.path, {title: config.title}) %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({
    twitter_id: theme.twitter,
    google_plus: theme.google_plus, 
    fb_admins: theme.fb_admins, 
    fb_app_id: theme.fb_app_id}) %>

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Titillium+Web" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.css' rel='stylesheet'>
  <!--<link href='//cdn.bootcss.com/node-waves/0.7.5/waves.min.css' rel='stylesheet'>-->
  
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YRNX1KWN4W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YRNX1KWN4W');
</script>


  
  
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <%- css('style.css') %>
  <style>
  <%- fa_css() %>
  a:link, a:visited, a:hover, a:active { text-decoration: none; color: inherit; }
  pre {
    font-size: inherit;
    color: inherit;
  }
  </style>
  <script>
    function setLoadingBarProgress(num) {
      document.getElementById('loading-bar').style.width=num+"%";
    }
  </script>
</head>
