<article id="<%= item.nom %>" class="pb-0 post reveal<%= (item.nom) ? "" : "no-title" %>">
  <section class="article typo">
  <h3 class="text-center mt-0"><a href="#<%= item.nom %>" ><%= item.nom %></a></h3>
  <div id="pdf" style="min-height: 40em;">
    <object type="text/html" class="container pt-2 pb-4" style="height: 40em" id="viewer-object" data="<%= item.url %>/preview">Impossible de charger le document..</object>
  </div>
  </section>
</article>
