<div class="list-group col-sm-10 col-sm-offset-1">
           <div class="page-header text-center text-muted" style="margin-top: -20px; font-family:'Segoe Script';color:rgb(96, 125, 139);">
               <h3>Diplômes et Certifications</h3>
           </div>
		<% post.diplomes.each(function(item){ %>
           <a class="list-group-item">
               <h4 class="list-group-item-heading"><%= item.name %>></h4><span class="badge btn-default active " title="Durée de formation"><i class="fa fa-clock-o" aria-hidden="true"></i>    <%= item.duree %>ans </span>
               <p class="list-group-item-text"><%= item.desc %></p>
           </a>
		<%})%>
</div>
