<style>
.article { word-break: keep-all; }
</style>
<article class="post"><section class="article typo">
<h3 class="mt-0"><a href="<%= page.permalink %>">  <%= page.title %></a></h3>
<% for (var item in site.data.ressources) { %>
<% if (site.data.ressources[item].cat == page.cat) { %>
    <h6><a href="#<%= site.data.ressources[item].nom %>"><%= site.data.ressources[item].nom %></a></h6>
<% } } %>
</section></article>
<br>
<% for (var item in site.data.ressources) { %>
<% if (site.data.ressources[item].cat == page.cat) { %>
<%- partial('_partial/pdf_viewer', {item: site.data.ressources[item]}) %>
</br>
<% } } %>
