<% site.categories.findOne({name: page.cat}).posts.sort('date','desc').each(function(post, i){  %>
<article class="pb-0 post reveal<%= (post.title) ? "" : "no-title" %>">
  <section class="meta">
    <h2 class="title">
      <a href="<%- url_for(post.path) %>">
        <%= post.title %>
      </a>
    </h2>
    <time>
      <%= date(post.date, 'MMM D, YYYY') %>
    </time>
  </section>
  <section class="article typo">
  <div class="readmore">
      <a class="btn btn-primary" style="color:white;" href="<%- url_for(post.path) %>">En savoir plus  <%- fa_inline('arrow-right', {prefix: 'fas'}) %></a>
  </div>
  <% if (post.tags && post.tags.length) { %>
          <div class="full-width auto-padding tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
          </div>
    <% } %>
  </section>
</article>
</br>
<% }) %>
