<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= url_for(config.avatar) %>' />
<%} %>

<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc' style="font-style: normal;" ><%- fa_inline('map-marker-alt', {prefix: 'fas'}) %>  Nantes</div>
<div class='desc' style="font-style: normal;" ><%- fa_inline('briefcase', {prefix: 'fas'}) %>  Ingénieur DevOps</div>
</div>
</section>
