<section class='m_widget test'>
<div class='header'>Skills</div>
<div class='content'>
    <ul class="entry">
    <% (theme.skills||[]).forEach(function(item){ %>
        <li><a class="flat-box" target="_blank" href="<%= item.level %>">
            <div class='name'><%= item.name %></div>
        </a></li>
    <% }); %>
    </ul>
</div>
</section>

