---
layout: false
permalink: /SvcRadioIP/Menu&WMenuID=1001.html
# SvcRadioIP.php?WRequest=Menu&WMenuID=1001
---
<Phoenix version="1.5.0">
    <Cache ValidityMenus="90" ValidityPresets="20" ValidityFavourites="20">
        <MustUpdateMenus>
            <MenuID>1</MenuID>
        </MustUpdateMenus>
    </Cache>
    <Menu Type="2" IsCachable="0" MenuID="1001" Title="Radio%20ENERGY" IconID="1" BackMenuID="1">
        <Asset Type="1" PlayMode="1" AuthProfile="0">
            <AudioStream>
                <StreamURLs>
                    <StreamURL Host="ic7.101.ru" IPAddress="193.232.148.43" Port="8000">%2Fv1_1</StreamURL>
                </StreamURLs>
                <StreamType>1</StreamType>
                <Access>1</Access>
                <Format>mp3</Format>
                <Codec>mp3</Codec>
                <BitRate>128000</BitRate>
                <Channels>2</Channels>
                <SampleRate>44100.0</SampleRate>
                <FileSize>0</FileSize>
                <VolumeAdjustment>0</VolumeAdjustment>
            </AudioStream>
        </Asset>
    </Menu>
</Phoenix>